<div class="app-grid">
    {% for equipment in equipments %}
        <div class="grid-item">
            <div class="grid-item-body">
                <a href="{{ path('equipment.show', {'id': equipment.id, 'slug': equipment.slug}) }}">
                    <img src="{{ asset('img/health/' ~ equipment.health.image) }}" class="app-icon" alt="{{ equipment.health.name }}" />
                    {% if equipment.image %}
                        <img src="{{ asset('img/equipment/' ~ equipment.image) }}" class="grid-item-image" alt="{{ equipment.name }}">
                    {% else %}
                        <img src="{{ asset('img/equipment/placeholder.png') }}" class="grid-item-image" alt="{{ equipment.name }}">
                    {% endif %}
                    <h3 class="grid-item-title">
                        {{ equipment.name }}
                    </h3>
                </a>
                <a href="{{ path('category.show', {'slug': equipment.category.slug}) }}">
                    {{ equipment.category.name }}
                </a>
            </div>
            <div class="grid-item-actions">
                <a href="{{ path('equipment.edit', {'id': equipment.id, 'slug': equipment.slug}) }}">
                    <i class="fas fa-edit"></i>
                </a>
                {{ include('equipment/_duplicate_form.html.twig') }}
                {{ include('equipment/_delete_form.html.twig') }}
            </div>
        </div>
    {% else %}
        <div class="grid-item">
            <div class="grid-item-body">
                <p class="grid-item-none">
                    Aucun matos :(
                </p>
            </div>
            <div class="grid-item-actions">
                <a href="{{ path('equipment.new') }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
