{% extends '_layouts/_default.html.twig' %}

{% block title %}Le matos{% endblock %}

{% block main %}
    {% if equipmentsOwned | length > 0 %}
        <section>
            <h2>
                <span>Tout votre matos ({{ equipmentsOwned | length }})</span>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('equipment.new') }}">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                {% endif %}
            </h2>

            {% include 'equipment/_grid.html.twig' with {'equipments': equipmentsOwned} %}
        </section>
    {% endif %}

    {% if equipmentsUsed | length > 0 %}
        <section>
            <h2>
                <span>À réparer ({{ equipmentsUsed | length }})</span>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('equipment.new') }}">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                {% endif %}
            </h2>

            {% include 'equipment/_grid.html.twig' with {'equipments': equipmentsUsed} %}
        </section>
    {% endif %}

    {% if equipmentsNeeded | length > 0 %}
        <section>
            <h2>
                <span>À prévoir ({{ equipmentsNeeded | length }})</span>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('equipment.new') }}">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                {% endif %}
            </h2>

            {% include 'equipment/_grid.html.twig' with {'equipments': equipmentsNeeded} %}
        </section>
    {% endif %}
{% endblock %}
