{% extends '_layouts/_default.html.twig' %}

{% block title %}Le matos{% endblock %}

{% block main %}
    <section>
        <h2>
            <span>Tout votre matos ({{ equipmentsOwned | length }})</span>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('equipment.new') }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            {% endif %}
        </h2>

        {% include 'equipment/_grid.html.twig' with {'equipments': equipmentsOwned} %}
    </section>

    <section>
        <h2>
            <span>À réparer ({{ equipmentsUsed | length }})</span>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('equipment.new') }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            {% endif %}
        </h2>

        {% include 'equipment/_grid.html.twig' with {'equipments': equipmentsUsed} %}
    </section>

    <section>
        <h2>
            <span>À prévoir ({{ equipmentsNeeded | length }})</span>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('equipment.new') }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            {% endif %}
        </h2>

        {% include 'equipment/_grid.html.twig' with {'equipments': equipmentsNeeded} %}
    </section>
{% endblock %}
