<div class="app-grid">
    {% for category in categories %}
        <div class="grid-item">
            <div class="grid-item-body">
                <a href="{{ path('category.show', {'slug': category.slug}) }}">
                    {% if category.image %}
                        <img src="{{ asset('img/category/' ~ category.image) }}" class="grid-item-image" alt="{{ category.name }}">
                    {% else %}
                        <img src="{{ asset('img/category/_placeholder.png') }}" class="grid-item-image" alt="{{ category.name }}">
                    {% endif %}
                    <h3 class="grid-item-title">
                        {{ category.name }}
                    </h3>
                    <p class="grid-item-textinfo mb-0">
                        {{ equipmentRepository.findByCategory(category.slug) | length }} matos
                    </p>
                    {% if equipmentRepository.findByCategory(category.slug, 'abime') | length > 0 %}
                        <p class="grid-item-textinfo danger">
                            <small>{{ equipmentRepository.findByCategory(category.slug, 'abime') | length }} HS</small>
                        </p>
                    {% endif %}
                    {% if equipmentRepository.findByCategory(category.slug, 'a-prevoir') | length > 0 %}
                        <p class="grid-item-textinfo warning">
                            <small>{{ equipmentRepository.findByCategory(category.slug, 'a-prevoir') | length }} à prévoir</small>
                        </p>
                    {% endif %}
                </a>
            </div>
            <div class="grid-item-actions">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('category.edit', {'slug': category.slug}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{ include('category/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="grid-item">
            <p class="grid-item-none">
                Aucune catégorie :(
            </p>
            <div class="grid-item-actions">
                <a href="{{ path('category.new') }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
