{% extends '_layouts/_default.html.twig' %}

{% block title %}Armoire à matos{% endblock %}

{% block main %}
    <section>
        <h2>
            <a href="{{ path('category') }}">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            <span>Catégorie : {{ category.name }}</span>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('category.edit', {'slug': category.slug}) }}">
                    <i class="fas fa-edit"></i>
                </a>
                {{ include('category/_delete_form.html.twig') }}
            {% endif %}
        </h2>

        <div class="infos">
            {% if category.image %}
                <img src="{{ asset('img/category/' ~ category.image) }}" class="grid-item-image" alt="{{ category.name }}">
            {% else %}
                <img src="{{ asset('img/category/placeholder.png') }}" class="grid-item-image" alt="{{ category.name }}">
            {% endif %}

            <h3>{{ category.name }}</h3>

            <p>{{ category.equipment | length }} matos</p>

            {% if category.equipment | length > 0 %}
                <hr />

                {% include 'equipment/_grid.html.twig' with {'equipments': category.equipment} %}
            {% endif %}
        </div>
    </section>
{% endblock %}
