{% extends '_layouts/_default.html.twig' %}

{% block title %}Armoire à matos{% endblock %}

{% block main %}
    <section>
        <h2>
            <a href="{{ path('category') }}">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            <span>Catégorie : {{ category.name }}</span>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('category.edit', {'slug': category.slug}) }}">
                    <i class="fas fa-edit"></i>
                </a>
                {{ include('category/_delete_form.html.twig') }}
            {% endif %}
        </h2>

        <div class="infos">
            {% if category.image %}
                <img src="{{ asset('img/category/' ~ category.image) }}" class="grid-item-image" alt="{{ category.name }}">
            {% else %}
                <img src="{{ asset('img/category/_placeholder.png') }}" class="grid-item-image" alt="{{ category.name }}">
            {% endif %}

            <h3>{{ category.name }}</h3>

            <p>{{ equipmentRepository.findByCategory(category.slug) | length }} matos</p>
        </div>
    </section>

    {% if equipmentRepository.findByCategory(category.slug) | length > 0 %}
        <section>
            <h2>Dans l'armoire :</h2>
            {% include 'equipment/_grid.html.twig' with {'equipments': equipmentRepository.findByCategory(category.slug)} %}
        </section>
    {% endif %}

    {% if equipmentRepository.findByCategory(category.slug, 'a-prevoir') | length > 0 %}
        <section>
            <h2>À prévoir :</h2>
            {% include 'equipment/_grid.html.twig' with {'equipments': equipmentRepository.findByCategory(category.slug, 'a-prevoir')} %}
        </section>
    {% endif %}
{% endblock %}
