{% extends '_layouts/_default.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block main %}
    <section>
        <h2>
            <span>Veuillez vous connecter</span>
        </h2>

        <div class="infos">
            <form method="post" class="app-form">
                <div id="#login">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }},
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div>
                        <label for="inputEmail">Adresse e-mail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus />
                    </div>
                    <div>
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required />
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                </div>
                <button class="btn" type="submit">Connexion</button>
            </form>
        </div>
    </section>
{% endblock %}
